{% extends 'crm/base.html' %}
{% load staticfiles %}
{% block content %}
    <br><br>
    {% if action != "" %}
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-success">
                    <div class="panel-heading">Status!</div>
                    <div class="panel-body">
                       {% if action == "added" %}
                            Customer added successfully!
                       {% elif action == "edited" %}
                            Customer updated successfully!
                       {% elif action == "deleted"%}
                            Customer deleted successfully!
                       {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="row">
        <h2>Customers Information<br><br></h2>
    </div>
    <div class="row">
        <table class="table table-striped table-hover table-responsive">
            <thead>
            <tr class="bg-info tablefont">
                <th>Customer Name</th>
                <th>Organization</th>
                <th>Role</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Bldg-Room</th>
                <th>Account</th>
                <th>Address</th>
                <th>City</th>
                <th>State</th>
                <th>Zip Code</th>

                <th colspan="3">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for customer in customers %}
                <tr class="tablefont">
                    <td>{{ customer.cust_name }}</td>
                    <td>{{ customer.organization }}</td>
                    <td>{{ customer.role }}</td>
                    <td>{{ customer.email }}</td>
                    <td>{{ customer.phone_number }}</td>
                    <td>{{ customer.bldgroom }}</td>
                    <td>{{ customer.account_number }}</td>
                    <td>{{ customer.address }}</td>
                    <td>{{ customer.city }}</td>
                    <td>{{ customer.state }}</td>
                    <td>{{ customer.zipcode }}</td>
                    <td><a href="{% url 'crm:customer_edit' pk=customer.pk %}" class="btn btn-warning">Edit</a>

                    <td><a href="{% url 'crm:customer_list' pk=customer.pk %}"
                           onclick="return confirm('Are you sure you want to delete?')"
                           class="btn btn-danger">Delete</a>
                    </td>
                    <td><a href="{% url 'crm:summary' pk=customer.pk %}"
                           class="btn btn-primary">Summary</a>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="row">
            <a href="{% url 'crm:customer_new' %}" class="row"><span
                    class="btn btn-primary">Add Customer</span></a>
    </div>
{% endblock %}
