{% extends 'crm/base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% block content %}
    <div class="row">
        <h2><br>Add a New Customer<br><br></h2>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-8">
                <form method="POST" class="customer-form">{% csrf_token %}
                    {{ form|crispy }}
                <div style="text-align: left;">
                <br><button type="submit" class="save btn btn-default">Save</button>
                </div>
            </form>
            </div>
        </div>
    </div>
{% endblock %}
