{% extends 'crm/base.html' %}
{% load staticfiles %}
{% block content %}
    <br><br>
    {% if action != "" %}
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-success">
                    <div class="panel-heading">Status!</div>
                    <div class="panel-body">
                       {% if action == "added" %}
                            Product added successfully!
                       {% elif action == "edited" %}
                            Product updated successfully!
                       {% elif action == "deleted"%}
                            Product deleted successfully!
                       {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="row">
        <h2>Products Information<br><br></h2>
    </div>
    <div class="row">
        <table class="table table-striped table-responsive table-hover">
            <thead>
            <tr class="bg-info tablefont">
                <th>Customer</th>
                <th>Product</th>
                <th>Description</th>
                <th>Quantity</th>
                <th>Pickup Time</th>
                <th>Service Charge</th>
                <th colspan="3">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr class="tablefont">
                    <td>{{ product.cust_name }}</td>
                    <td>{{ product.product }}</td>
                    <td style="text-align: left">{{ product.p_description }}</td>
                    <td>{{ product.quantity }}</td>
                    <td>{{ product.pickup_time }}</td>
                    <td>{{ product.charge }}</td>
                    <td><a href="{% url 'crm:product_edit' pk=product.pk %}"
                           class="btn btn-warning">Edit</a></td>
                    <td><a href="{% url 'crm:product_list' pk=product.pk %}"
                           onclick="return confirm('Are you sure you want to delete?')"
                           class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
     </div>
     <div class="row">
            <a href="{% url 'crm:product_new' %}" class="row"><span
                    class="btn btn-primary">Add Product</span></a>
     </div>
{% endblock %}
