{% extends "crm/base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% block content %}
  <div class="row">
        <h2><br>Create an account<br></h2>
        <p>Please, sign up using the following form:<br><br></p>
  </div>
  <div class="row">
      <div class="col-md-12">
         <div class="col-md-6">
            <form action="" method="post">
              {{ user_form|crispy }}
              {% csrf_token %}

                    <div style="text-align: right;">
                        <br><button type="submit" class="save btn btn-primary">Sign up</button>
                    </div>
                </form>
            <div class="col-md-6"></div>
            </div>
        </div>
    </div>
{% endblock %}