{% extends 'crm/base.html' %}
{% load staticfiles %}
{% block content %}
    <br><br>
    {% if action != "" %}
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-success">
                    <div class="panel-heading">Status!</div>
                    <div class="panel-body">
                       {% if action == "added" %}
                            Service added successfully!
                       {% elif action == "edited" %}
                            Service updated successfully!
                       {% elif action == "deleted"%}
                            Service deleted successfully!
                       {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="row">
        <h2>Services Information<br><br></h2>
    </div>
    <div class="row">
        <table class="table table-striped table-hover table-responsive">
            <thead>
            <tr class="bg-info tablefont">
                <th>Customer</th>
                <th>Service Category</th>
                <th>Description</th>
                <th>Location</th>
                <th>Setup Time</th>
                <th>Cleanup Time</th>
                <th>Service Charge</th>
                <th colspan="3">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for service in services %}
                <tr class="tablefont">
                    <td>{{ service.cust_name }}</td>
                    <td>{{ service.service_category }}</td>
                    <td style="text-align: left">{{ service.description }}</td>
                    <td>{{ service.location }}</td>
                    <td>{{ service.setup_time }}</td>
                    <td>{{ service.cleanup_time }}</td>
                    <td>{{ service.service_charge }}</td>
                    <td><a href="{% url 'crm:service_edit' pk=service.pk %}"
                           class="btn btn-warning">Edit</a></td>
                    <td><a href=""

                           class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
     <div>
     <div class="row">
            <a href="{% url 'crm:service_new' %}" class="row"><span
                    class="btn btn-primary">Add Service</span></a>
     </div>
{% endblock %}
